body {
background-color: #bbbbbb;
}
h1 {
  text-align: center;
  color: blue;
}
h3 {
  font-style: italic;
  margin-top: 0;
}
div {
  background-size: cover;
  margin-top: 50px;
}
a {
  color: blue;
}
.scrub {
  background-size: cover;
}
.sub-heading {
  font-style: bold;
}
